* { 
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    background-color: rgb(82, 60, 67);
    height: 100vh;
    grid-template-rows: 70px auto;
}

.header {
    display: grid;
    grid-template-columns: 100px auto;
}

.header > div {
    font-size: 40px;
    color: white;
    font-weight: 700;
    justify-self: center;
    align-self: center;
}

.header button {
    align-self: center;
    height: 50px;
    margin-left: 10px;
}

.form-main-container {
    padding: 15px;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
}

.form-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.form-container > div {
    display: grid;
    grid-template-columns: 80px auto;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.buttons > div:nth-child(2) {
    justify-self: end;
}

form button {
    height: 30px;
    width: 50px;
}

#books {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    gap: 5px;
    height: minmax(200px, 500px);
    text-align: center;
}

#books > div {
    display: grid;
}

#books > div > div:nth-child(1) {
    display: grid;
    justify-content: end;
    align-content: start;
}